@{
    ViewBag.Title = "Contacto";
}

<main class="container py-5">
    <div class="text-center mb-5">
        <h1 class="display-4 text-primary">¡Ponte en contacto con nosotros!</h1>
        <p class="lead text-muted">Estamos aquí para ayudarte, no dudes en comunicarte con nosotros a través de cualquiera de los medios que te proporcionamos.</p>
    </div>

    <!-- Dirección física -->
    <div class="row mb-4">
        <div class="col-md-6 mx-auto">
            <div class="card shadow-lg border-0 rounded">
                <div class="card-header bg-info text-white">
                    <h5 class="card-title">Nuestra Dirección</h5>
                </div>
                <div class="card-body">
                    <address class="mb-0">
                        <strong>Puriscal, Costa Rica</strong><br />
                    </address>
                </div>
            </div>
        </div>
    </div>

    <!-- Contacto por email -->
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card shadow-lg border-0 rounded">
                <div class="card-header bg-success text-white">
                    <h5 class="card-title">Información de Contacto</h5>
                </div>
                <div class="card-body">
                    <p class="mb-2"><strong>Soporte:</strong> <a href="mailto:controldeactivos@gmail.com" class="text-info">controldeactivos@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</main>

